[profile.default]
src = "src"
out = "out"
libs = ["lib"]
solc_version = "0.8.20"
optimizer = true
optimizer_runs = 200
via_ir = false

[rpc_endpoints]
ethereum = "https://eth.llamarpc.com"
bsc = "https://bsc-dataseed.binance.org"
polygon = "https://polygon-rpc.com"
arbitrum = "https://arb1.arbitrum.io/rpc"
optimism = "https://mainnet.optimism.io"

[fmt]
line_length = 100
tab_width = 4
bracket_spacing = true
